/*==============================================
 *
 * CSS Stylesheet for general barchart
 *
 * 04/09/2018	mjc	Created
 *===============================================*/

/*Watch out for the spaces below (space = descendant relationship, no-space = AND) */
/* note '.' denotes class, '#' denotes ID */
.scatterplot .enterSelection {
  /* Select decendants of class 'barchart' elements where the descendants  are both of class  'bars'  AND  class 'enterSelection' */
  fill: cyan;
  stroke: gray;
  stroke-width: 1;
  opacity: 1;
}

.scatterplot .updateSelection {
  fill: green;
  stroke: gray;
  stroke-width: 1;
  opacity: 1;
}

.scatterplot .compareSelection {
  fill: pink;
  stroke: gray;
  stroke-width: 1;
  opacity: 0.8;
}

.scatterplot .exitSelection {
  fill: gray;
  stroke: gray;
  stroke-width: 1;
  opacity: 0.5;
}

.scatterplot .highlight {
  fill: yellow;
  stroke: black;
  stroke-width: 2;
  opacity: 1;
}

.scatterplot .selected {
  fill: magenta;
  stroke: black;
  stroke-width: 2;
  opacity: 1;
}
